POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=POSTGRES_DB

PGADMIN_DEFAULT_EMAIL=PGADMIN_DEFAULT_EMAIL
PGADMIN_DEFAULT_PASSWORD=PGADMIN_DEFAULT_PASSWORD

SMTP_USER_NAME=SMTP_USER_NAME
SMTP_PASSWORD=SMTP_PASSWORD

ROOT_PASSWORD=ROOT_PASSWORD
ROOT_EMAIL=ROOT_EMAIL

GITLAB_RUNNER_TOKEN=GITLAB_RUNNER_TOKEN

CI_REGISTRY_USER=CI_REGISTRY_USER
CI_REGISTRY_PASSWORD=CI_REGISTRY_PASSWORD
CI_REGISTRY=CI_REGISTRY
CI_REGISTRY_IMAGE=CI_REGISTRY_IMAGE
CI_COMMIT_SHA=CI_COMMIT_SHA

DEPLOY_USER=DEPLOY_USER
DEPLOY_HOST=DEPLOY_HOST